<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" 
	version="2.5">
	<display-name>RoomBookTest</display-name>
	<servlet>
		<description></description>
		<display-name>RoomController</display-name>
		<servlet-name>RoomController</servlet-name>
		<servlet-class>com.psl.controller.RoomController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoomController</servlet-name>
		<url-pattern>/RoomController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserController</display-name>
		<servlet-name>UserController</servlet-name>
		<servlet-class>com.psl.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>lookup</display-name>
		<servlet-name>lookup</servlet-name>
		<servlet-class>com.psl.controller.lookup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>lookup</servlet-name>
		<url-pattern>/lookup</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Tabledata</display-name>
		<servlet-name>Tabledata</servlet-name>
		<servlet-class>com.psl.controller.Tabledata</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tabledata</servlet-name>
		<url-pattern>/Tabledata</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetLocation</display-name>
		<servlet-name>GetLocation</servlet-name>
		<servlet-class>com.psl.controller.GetLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetLocation</servlet-name>
		<url-pattern>/GetLocation</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddLocationController</display-name>
		<servlet-name>AddLocationController</servlet-name>
		<servlet-class>com.psl.controller.AddLocationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLocationController</servlet-name>
		<url-pattern>/AddLocationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookRoomController</display-name>
		<servlet-name>BookRoomController</servlet-name>
		<servlet-class>com.psl.controller.BookRoomController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookRoomController</servlet-name>
		<url-pattern>/BookRoomController</url-pattern>
	</servlet-mapping>



	<servlet>
		<description></description>
		<display-name>ReccurrenceController</display-name>
		<servlet-name>ReccurrenceController</servlet-name>
		<servlet-class>com.psl.controller.ReccurrenceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReccurrenceController</servlet-name>
		<url-pattern>/ReccurrenceController</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>



</web-app>